*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Open Sans", "sans-serif";
}

/* Area's */
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin: 5% 30%;
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 300px;
    min-width: 250px;
}
.container .todos-header{
    width: 100%;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
}
.container .todos-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container .todos-container .todos-body{
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5rem;
    padding-bottom: 1.25rem;
}
.container .alert{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5rem;
    padding-bottom: 1.25rem;
}
#filter{
    margin-top: 1rem;
}
.list-group{
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.75rem;
    padding-bottom: 1rem;
}
.list-group p{
    overflow: hidden;
    width: 87%;
}
i{
    color: #d10606;
}